// To get started, press Ctrl+Space to bring up the completion menu and view the available nodes.

// You can also use the buttons in the sidebar to perform actions on nodes.
// Actions currently available include:

// * Enabling / disabling the node
// * Adding the bus to a bus
// * Removing the node
// * Connecting ADC channels

// For more help, browse the DeviceTree documentation at https://docs.zephyrproject.org/latest/guides/dts/index.html
// You can also visit the nRF DeviceTree extension documentation at https://nrfconnect.github.io/vscode-nrf-connect/devicetree/nrfdevicetree.html
/ {
	
	extleds {
		compatible = "gpio-leds";
		extled4: extled_4 {
			gpios = <&gpio0 3 GPIO_ACTIVE_LOW>;
			label = "External LED 4";
		};
	};	
	
	pwmleds {
		compatible = "pwm-leds";
		pwm_led2: pwm_led_2 {
			// Note that the "1" refers to the PWM channel (0...3)
			pwms = <&pwm1 1 PWM_MSEC(20) PWM_POLARITY_INVERTED>;
		};
	};


};

&pwm1 {
	status = "okay";
	pinctrl-0 = <&pwm1_default>;
	pinctrl-1 = <&pwm1_sleep>;
	pinctrl-names = "default", "sleep";	
};

&pinctrl {
	
	pwm1_default: pwm1_default {
		group1 {
			// Note that here PWM channels are labeled PWM_OUTx
			psels = <NRF_PSEL(PWM_OUT1, 0, 15)>;
			nordic,invert;
		};
	};

	pwm1_sleep: pwm1_sleep {
		group1 {
			// Note that here PWM channels are labeled PWM_OUTx
			psels = <NRF_PSEL(PWM_OUT1, 0, 15)>;			
		};
	};
};

